In [45]:
scores = input("실기점수를 입력하세요.")                # scores = list(map(int, input("실기점수를 입력하세요. : ").split))

scores_list = scores.split(" ")                   # 띄어쓰기 기준으로 값을 각각의 type을 str인 형태의 리스트로 변환 
scores_list = list(map(int,scores_list))          # map으로 리스트의 값을 각각 int로 변환 후, 전체는 map의 형태 / map을 리스트의 형태로 변환
scores_max = 0
scores_min = 100
scores_total = 0
scores_

for a in range(0,5):
    scores_total += scores_list[a]
for i in range(0,5):
    if scores_max < scores_list[i]:
        scores_max = scores_list[i]
for i in range(0,5):
    if scores_min > scores_list[i]:
        scores_min = scores_list[i]

        
print(scores_total)
print(scores_max)
print(scores_min)
print()

385
98
50

In [50]:
grade = [86,72,98,60,45]
grade_counter = [0,0,0,0,0]


for b in range(0,i):                           
    if grade[b] >= 85:
        grade_counter[0] += 1   # A학점
    elif grade[b] >= 70:
        grade_counter[1] += 1   # B학점
    elif grade[b] >= 55:
        grade_counter[2] += 1   # C학점
    elif grade[b] >= 40:
        grade_counter[3] += 1   # D학점
    else :
        grade_counter[4] += 1

print(grade_counter)

[2, 1, 1, 0, 0]

In [6]:
for c in range(1,100):
    if c % 3 == 0 and c % 5 == 0:
        c = "FizzBuzz"
    elif c % 3 == 0:
        c = "Fizz"
    elif c % 5 == 0:
        c = "Buzz"
    else:
        c = c
    print(c, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz

In [5]:
d = 0
number = 0                                                  # if문과 elif문을 지나면서 d는 str으로 인식하기 때문에 number라는 변수를 추가하여 d를 숫자로 인식하게 함.
while d < 100:
    d += 1
    if d % 3 == 0 and d % 5 == 0:
        number = "FizzBuzz"
    elif d % 3 == 0:
        number = "Fizz"
    elif d % 5 == 0:
        number = "Buzz"
    else:
        number = int(d)
    print(number, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [10]:
for i in range(1,101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i, end="\t")
    # Fizz가 True이면 print(int(True)) = 1, Fizz가 False이면 print(int(False)) = 0  / Fizz와 Buzz가 둘다 False이면 print("" or i) = i

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [30]:
name_list = ['matthew','mark','luke','john','paul','peter']
name_count = 0

for _ in range(len(name_list)):
    if "m" in name_list[_] or "h" in name_list[_]:                  # "문자" in "str" -> str 안에 정한 문자가 있느냐 없느냐
        name_count += 1
    else:
        name_count += 0
print(f'm 또는 h가 이름에 포함된 사람은 {name_count} 명 입니다.')

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

In [31]:
name_list = ['matthew','mark','luke','john','paul','peter']
name_count = 0

for _ in range(len(name_list)):
    if "m" in list(name_list[_])[0:10]or "h" in list(name_list[_])[0:10]:
        name_count += 1
    else:
        name_count += 0
print(f'm 또는 h가 이름에 포함된 사람은 {name_count} 명 입니다.')

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

In [38]:
name_list = ['matthew','mark','luke','john','paul','peter']
count = 0

for name in name_list:
    for n in name:
        if n == 'm' or n == 'h':
            count += 1
            break
print(f'm 또는 h가 이름에 포함된 사람은 {count} 명 입니다.')

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

In [ ]:
# while문으로 연습
name_list = ['matthew','mark','luke','john','paul','peter']
name_count = 0
f = 0

while f > len(name_list)

    if "m" in name_list[_] or "h" in name_list[_]:                  # "문자 또는 숫자?" in "str" -> str 안에 정한 문자 또는 숫자가 있느냐 없느냐
        name_count += 1
    else:
        name_count += 0
print(f'm 또는 h가 이름에 포함된 사람은 {name_count} 명 입니다.')

In [46]:
marks = [90, 25, 67, 45, 80]

for _ in range(len(marks)):
    if marks[_] < 60: continue
    print(f'{_ + 1}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [66]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue                          # if mark >= 60을 조건으로 쓰면 print문을 if문 안으로 들여쓰면 같은 값 출력할 수 있음.
    print(f'{number}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [54]:
marks = [90, 25, 67, 45, 80]

i = 0
while i < len(marks):
    i += 1
    if marks[i-1] < 60:
        continue                                        # i = 1이면 marks[0] < 60이므로 다시 while문 으로 진행. 
    print(f'{i}번 학생 축하합니다. 합격입니다.')

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [78]:
arr = [1, 4, 2, 3]
left, right = 0, (len(arr) - 1)
while left < (len(arr) // 2) :                          # while문은 left를 절반만 반복을 하면 됨. (* //은 몫을 구해주는 것.)
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
print(f'변환된 arr은 {arr} 입니다.')

변환된 arr은 [3, 2, 4, 1] 입니다.

In [149]:
for i in range(1,9):
    for j in range(1,10):
        print(f'{i+1} * {j} = {(i+1) * (j)}', end="\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [159]:
# while문으로 작성해보기

i = 1 
j = 1
while i+1 < 10:
    i += 1
    print(f'{i} * {j} = {i * j}', end="\t")
    j += 1
print()

2 * 1 = 2	3 * 2 = 6	4 * 3 = 12	5 * 4 = 20	6 * 5 = 30	7 * 6 = 42	8 * 7 = 56	9 * 8 = 72

# 딕셔너리 자료형(Dictionary type)

## * 특징
####  1. 비시퀀스 자료형 (= 인덱스를 가지고 있지않음)
####  2. key: value       # key를 통해 value값을 찾을 수 있음.
#### 3. 중괄호{} 활용
#### 4. key에는 str, int, float, bool, tuple을 사용할수 있음. / list, dict, set은 사용할수 없음.
#### 5. value에는 모든 자료형을 사용할수있음.(str, int, float,bool, tuple, list, dict, set 등).
#### 6. key값이 중복되면 가장 최근에 넣은 value만 남음.
#### 7. 빈 딕셔너리 생성가능 - {}만 쓰거나 인자 없이 dict()함수를 사용하면 됨.
##### 8. dict() 함수 - dict(key="value", ... ) / dict([("key", "value"), ("key2", "value2")], ... ) / dict(zip(["key","key2", ... ], ["value", "value2", ... ]))
##### 9. key와 value를 추가할수있음.
##### 10. 특정 키가 딕셔너리 자료형에 있나 확인 - "in 연산자"
##### 11. 특정 키와 값의 쌍을 삭제하기 - del dic['key']

In [160]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [161]:
dic_var = {"key": "value", "key": "last_value"}
print(dic_var)

{'key': 'last_value'}

In [164]:
dict_b = {'key': 'value', 'key2': 'value', 'key3': 'value'}
print(dict_b)
print(type(dict_b))
print(dict_b['key'])

{'key': 'value', 'key2': 'value', 'key3': 'value'}
<class 'dict'>
value

In [165]:
print(dict_b)
dict_b['key'] = "super_value"                       # 'key'에 "super_value"를 할당함.
print(dict_b)

{'key': 'value', 'key2': 'value', 'key3': 'value'}
{'key': 'super_value', 'key2': 'value', 'key3': 'value'}

In [166]:
print(dict_b)
dict_b['new_one'] = "new value"
print(dict_b)

{'key': 'super_value', 'key2': 'value', 'key3': 'value'}
{'key': 'super_value', 'key2': 'value', 'key3': 'value', 'new_one': 'new value'}

In [168]:
print(dict_b)
print('key' in dict_b)                              # dict_b에 'key'가 있으면 True, 없으면 False

{'key': 'super_value', 'key2': 'value', 'key3': 'value', 'new_one': 'new value'}
True

In [169]:
print(dict_b)
print(len(dict_b))

{'key': 'super_value', 'key2': 'value', 'key3': 'value', 'new_one': 'new value'}
4

In [176]:
dict_f = {'사과': '1000', '바나나': '700', '오렌지': '1500', '파인애플': '2000'}

f = str(input("과일 이름을 입력하세요"))
print("과일 이름을 입력하세요.", f)
print(f'{f}의 가격은 {dict_f[f]}원 입니다.')

과일 이름을 입력하세요. 사과
사과의 가격은 1000원 입니다.

In [ ]:
dict_f = {'사과': 1000, '바나나': 700, '오렌지': 1500, '파인애플': 2000}

input_fruit = input("과일 이름을 입력하세요")
print(f'{input_fruit}의 가격은 {dict_f[input_fruit]}원 입니다.')

In [213]:
names = input("이름을 기입해주세요.").split()                           # name의 type은 list임.
weights = map(float,input("몸무게를 입력해주세요.").split(" "))          # map형태의 객체를 가지고 있음.

dict_value = dict(zip(names, weights))                              # zip() 함수는 names와 weights를 순서대로 뽑아서 묶어줌.
                                                                      # ex) [('뽀로로', '20.4),('루피', '16.2'),('크롱','22.3'),('스누피','5.2')]
print(dict_value)

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [217]:
names = input("이름을 기입해주세요.").split()
weights = list(map(float,input("몸무게를 입력해주세요.").split()))

dict_value = {}
for i in range(len(names)):
    dict_value[names[i]] = weights[i]                               # map형태에서는 인덱스를 사용할수없어서 weights를 list로 변환.

print(dict_value)

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

# list()

## * 특징

#### 1. 빈 리스트 -> empty_list = [] & empty = list()
#### 2. 문자열.split() / 문자열을 split을 통해 객체를 나누고 마지막에 list형태로 변환
#### 3. 리스트 comprehension 
    ex) list_variable = [expression for 변수 iterable]
    #####    3.1 iterable로부터 값을 하나 꺼내와서 변수에 담습니다.
    #####    3.2 요소를 담은 변수를 활용해서 expression을 실행합니다.
    #####    3.3 표현식 결과값을 리스트 요소에 넣습니다.
    #####    3.4 반복가능한 iterable로 부터 값이 없을 때까지 1~1 과정을 반복합니다.

In [218]:
# range --> 0, 1, 2, ... , 9
# _ --> _ = 1, ..._ = 9
list_a = [_ ** 2 for _ in range(1,10)]
print(list_a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [222]:
list_c =[]
for _ in range(1,10):
    list_c.append(_ ** 2)
print(list_c)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [224]:
list_b = [print("Hello wolrd") for _ in range(10)]

Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd
Hello wolrd

In [225]:
prac_result = [_ ** 2 for _ in range(1,10)]                         # _ ** 2 => i * i로 바꾸어도 같은 값이 나옴.
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]