#### Q1. ì—¬ëŸ¬ë¶„ì€ íŒŒì´ì¬ì„ í†µí•´ ì„¤ë¬¸ì¡°ì‚¬ ë¬¸í•­ì˜ ì‘ë‹µë‚´ì—­ì„ ë¶„ì„í•˜ê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤. ë¬¸í•­ë³„ ì‘ë‹µë‚´ìš©ì—ëŠ” í•˜ë‚˜ì˜ ì‘ë‹µë§Œ í•  ìˆ˜ ìˆëŠ” single choice ë¬¸ì œì™€ ì—¬ëŸ¬ ì‘ë‹µì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” multiple choice ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤. 2ê°œë¥¼ êµ¬ë¶„í•˜ê¸° ìœ„í•´ single choice ë¬¸í•­ ë²ˆí˜¸ì— "_"ë¥¼ í‘œê¸°í•˜ì§€ ì•Šê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.
- ë¬¸í•­ë³„ ì‘ë‹µë‚´ì—­ì´ 'question'ì— ë‹´ê²¨ ìˆì„ ë•Œ, ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ê²°ê³¼ê°€ ì¶œë ¥ë˜ë„ë¡ ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.

In [45]:
# # ì‘ë‹µ ì„¤ë¬¸ ë¬¸í•­
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [46]:
new_question = []

for i in question:
    if len(i) == 2:
        new_question.append(i)

In [47]:
new_question

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

#### Q2. í•œìŠ¤ ë¡œìŠ¬ë§(Hans Rosling, 1948ë…„ 7ì›” 27ì¼ ~ 2017ë…„ 2ì›” 7ì¼)ì€ ìŠ¤ì›¨ë´ì˜ ì˜ì‚¬ì´ì í†µê³„í•™ìë¡œ ë¹„ì˜ë¦¬ ë²¤ì²˜ ê°­ë§ˆì¸ë” ì¬ë‹¨ì˜ ê³µë™ì„¤ë¦½ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ë¹…ë°ì´í„°ë¥¼ ê°€ì¥ ì˜ í™œìš©í•˜ëŠ” ë³´ê±´ í†µê³„í•™ìë¡œ ì•Œë ¤ì ¸ ìˆìŠµë‹ˆë‹¤. ë² ìŠ¤íŠ¸ì…€ëŸ¬ ì±…ì¸ "íŒ©íŠ¸í’€ë‹ˆìŠ¤" ì €ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ê°­ë§ˆì¸ë” ì‚¬ì´íŠ¸ì—ì„œëŠ” ì—°ë„ë³„, êµ­ê°€ë³„ GDPì™€ ê¸°ëŒ€ìˆ˜ëª… ë°ì´í„°ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ë°, ëŒ€í‘œì ìœ¼ë¡œ íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì¤‘ 'seaborn'ì—ì„œ ì œê³µë˜ëŠ” ì˜ˆì œ ë°ì´í„°ê°€ ìˆìŠµë‹ˆë‹¤. ì˜¤ëŠ˜ì€ ì´ ë°ì´í„°ë¥¼ í™œìš©í•´ ë¬¸ì œë¥¼ í’€ì–´ë³´ê² ìŠµë‹ˆë‹¤.
- ë‹¤ìŒì˜ ë°ì´í„°ëŠ” ì—°ë„, êµ­ê°€ë³„ ê¸°ëŒ€ìˆ˜ëª…ì„ ë‚˜íƒ€ë‚´ê³  ìˆëŠ” ë°ì´í„° ì…ë‹ˆë‹¤. 2011ë…„ ë¶€í„°ì˜ ì—°ë„ë³„, êµ­ê°€ë³„ í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì„ êµ¬í•´ì£¼ì„¸ìš”. (2011ë…„ë„ í¬í•¨ë˜ê²Œ êµ¬í•©ë‹ˆë‹¤.)
- [í•„ìˆ˜ ì¡°ê±´] groupby ë‚˜ pivot_tableì„ í™œìš©í•©ë‹ˆë‹¤. groupby ë¡œ êµ¬í•  ë•Œ unstack()ì´ë¼ëŠ” ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ì»¬ëŸ¼ì— ì¸ë±ìŠ¤ ê°’ì„ ì˜¬ë ¤ì„œ í‘œê¸°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ë§Œì•½ í–‰ì—ëŠ” 'ì—°ë„'ê°€, ì—´ì— 'êµ­ê°€'ê°€ ë“¤ì–´ìˆê³  ìˆ˜ì¹˜ ë°ì´í„°ì˜ ê²°ê³¼ê°’ì´ ì•„ë˜ì™€ ê°™ë‹¤ë©´, ì¶œë ¥í˜•íƒœëŠ” ì¡°ê¸ˆ ë‹¬ë¼ë„ ê´œì°®ìŠµë‹ˆë‹¤.
- ë°ì´í„°ëŠ” ë‹¤ìŒì˜ ë°©ë²•ìœ¼ë¡œ ì½ì–´ì˜µë‹ˆë‹¤.

In [48]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [49]:
df['Country'].value_counts()
df['Year'].value_counts()

1995    6
2008    6
1998    6
1999    6
2000    6
2001    6
2002    6
2003    6
2004    6
2005    6
2006    6
2007    6
2009    6
1996    6
2010    6
2011    6
2012    6
2013    6
2014    6
2015    6
2016    6
2017    6
2018    6
2019    6
1997    6
2020    6
1985    6
1993    6
1992    6
1980    6
1990    6
1994    6
1971    5
1981    5
1982    5
1984    5
1983    5
1986    5
1987    5
1988    5
1989    5
1991    5
1970    5
1979    4
1976    4
1975    4
1978    3
1977    3
1974    3
1973    3
1972    3
Name: Year, dtype: int64

In [50]:
# 2011ë…„ ì´ìƒì˜ ê°’ì„ ê°€ì§„ í–‰ë§Œ ê°€ì ¸ì˜¤ê¸°
df = df[df['Year'] >= 2011]
df

     Year        Country  Spending_USD  Life_Expectancy
214  2011         Canada      4228.962             81.4
215  2011        Germany      4566.678             80.5
216  2011         France      4161.698             82.3
217  2011  Great Britain      3495.652             81.0
218  2011          Japan      3740.756             82.7
219  2011            USA      8079.467             78.7
220  2012         Canada      4336.249             81.6
221  2012        Germany      4745.546             80.6
222  2012         France      4299.434             82.1
223  2012  Great Britain      3614.131             81.0
224  2012          Japan      3970.765             83.2
225  2012            USA      8346.064             78.8
226  2013         Canada      4428.753             81.7
227  2013        Germany      4951.677             80.6
228  2013         France      4544.964             82.3
229  2013  Great Britain      3667.636             81.1
230  2013          Japan      4308.252             83.4
231  2013            USA      8519.620             78.8
232  2014         Canada      4536.810             81.8
233  2014        Germany      5151.709             81.2
234  2014         France      4626.679             82.8
235  2014  Great Britain      3758.935             81.4
236  2014          Japan      4328.364             83.7
237  2014            USA      8925.879             78.9
238  2015         Canada      4635.285             81.9
239  2015        Germany      5295.975             80.7
240  2015         France      4667.156             82.4
241  2015  Great Britain      3805.820             81.0
242  2015          Japan      4515.556             83.9
243  2015            USA      9355.118             78.7
244  2016         Canada      5044.275             82.0
245  2016        Germany      5669.064             81.0
246  2016         France      4928.128             82.7
247  2016  Great Britain      3960.141             81.2
248  2016          Japan      4295.858             84.1
249  2016            USA      9717.649             78.7
250  2017         Canada      5150.470             81.9
251  2017        Germany      5970.163             81.1
252  2017         France      5005.756             82.7
253  2017  Great Britain      4059.125             81.3
254  2017          Japan      4412.852             84.2
255  2017            USA     10046.472             78.6
256  2018         Canada      5308.356             82.0
257  2018        Germany      6281.840             81.0
258  2018         France      5099.306             82.8
259  2018  Great Britain      4189.708             81.3
260  2018          Japan      4554.276             84.3
261  2018            USA     10451.386             78.7
262  2019         Canada      5189.721             82.2
263  2019        Germany      6407.928             81.3
264  2019         France      5167.839             82.9
265  2019  Great Britain      4385.463             81.4
266  2019          Japan      4610.794             84.4
267  2019            USA     10855.517             78.8
268  2020         Canada      5828.324             81.7
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [53]:
# 'Year'ë¥¼ ë½‘ì•„ì„œ ì¤‘ë³µì œê±°í•œ ê°’ì„ new_index ë¦¬ìŠ¤íŠ¸ë¡œ ìƒì„±í•œë‹¤.
index = df['Year'].values

new_index = []

for i in index:
    if i not in new_index:
        new_index.append(i)

new_index

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [54]:
# 'Country'ë¥¼ ë½‘ì•„ì„œ ì¤‘ë³µì œê±°í•œ ê°’ì„ new_columns ë¦¬ìŠ¤íŠ¸ë¡œ ìƒì„±í•œë‹¤.
columns = df['Country'].values

new_columns = []

for i in columns:
    if i not in new_columns:
        new_columns.append(i)

new_columns

['Canada', 'Germany', 'France', 'Great Britain', 'Japan', 'USA']

In [56]:
# 'Life_Expectancy'ë¥¼ ë½‘ì•„ì„œ reshapeë¥¼ í™œìš©í•´ì„œ new_values ë¦¬ìŠ¤íŠ¸ë¡œ ìƒì„±í•œë‹¤.
values = df['Life_Expectancy'].values

new_values = values.reshape(10,6)
new_values

array([[81.4, 80.5, 82.3, 81. , 82.7, 78.7],
       [81.6, 80.6, 82.1, 81. , 83.2, 78.8],
       [81.7, 80.6, 82.3, 81.1, 83.4, 78.8],
       [81.8, 81.2, 82.8, 81.4, 83.7, 78.9],
       [81.9, 80.7, 82.4, 81. , 83.9, 78.7],
       [82. , 81. , 82.7, 81.2, 84.1, 78.7],
       [81.9, 81.1, 82.7, 81.3, 84.2, 78.6],
       [82. , 81. , 82.8, 81.3, 84.3, 78.7],
       [82.2, 81.3, 82.9, 81.4, 84.4, 78.8],
       [81.7, 81.1, 82.3, 80.4, 84.7, 77. ]])

In [59]:
result = pd.DataFrame(new_values, index=new_index, columns=new_columns)

result

      Canada  Germany  France  Great Britain  Japan   USA
2011    81.4     80.5    82.3           81.0   82.7  78.7
2012    81.6     80.6    82.1           81.0   83.2  78.8
2013    81.7     80.6    82.3           81.1   83.4  78.8
2014    81.8     81.2    82.8           81.4   83.7  78.9
2015    81.9     80.7    82.4           81.0   83.9  78.7
2016    82.0     81.0    82.7           81.2   84.1  78.7
2017    81.9     81.1    82.7           81.3   84.2  78.6
2018    82.0     81.0    82.8           81.3   84.3  78.7
2019    82.2     81.3    82.9           81.4   84.4  78.8
2020    81.7     81.1    82.3           80.4   84.7  77.0

#### Q3. Jupyter notebook ì€ ë¬¸ì„œì™€ ì½”ë“œë¥¼ í•¨ê»˜ ì‘ì„±í•  ìˆ˜ ìˆë‹¤ëŠ” ì ì´ ì¥ì ì…ë‹ˆë‹¤. Jupyter notebook ì—ì„œ ì§€ì›í•˜ëŠ” Markdown ë¬¸ë²•ì„ ì‚¬ìš©í•˜ì—¬, ì´ë²ˆ ì£¼ì— ë°°ìš´ ë‚´ìš©ì„ ì •ë¦¬í•´ ë³´ì„¸ìš”!
- ì´ë²ˆì£¼ í•™ìŠµ ë‚´ìš©ì€ ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”! [1ì£¼ì°¨ í•™ìŠµ ë‚´ìš©](ìŠ¤í„°ë”” ì „ìš© ê°•ì¢Œ 1ì£¼ì°¨ í•™ìŠµ ì•ˆë‚´ ë§í¬)
- 1. ë°ì´í„° ë¶„ì„ í™˜ê²½ êµ¬ì„±:https://www.boostcourse.org/ds112/joinLectures/28140
- 2. ë°ì´í„° ë¶„ì„ ì¤€ë¹„í•˜ê¸°:https://www.boostcourse.org/ds112/joinLectures/28138

##### ğŸ”½ ë‹µì•ˆ ì˜ˆì‹œ
- Pandasë¥¼ í†µí•œ íŒŒì¼ ì €ì¥ê³¼ ë¶ˆëŸ¬ì˜¤ê¸°
  - to_csv("íŒŒì¼ëª…", index=False) : csv íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°
  - read_csv("íŒŒì¼ëª…") : csv íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
  - shapeë¥¼ í†µí•œ í–‰ê³¼ ì—´ì˜ ìˆ˜ ë³´ê¸°
  - head, tail, sample ì„ í†µí•œ ì¼ë¶€ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
- DataFrameì˜ info(), describe() ë“±ì„ í†µí•œ ìš”ì•½ê³¼ ê¸°ìˆ í†µê³„ ê°’ êµ¬í•˜ê¸°
  - info()
  - describe()
  - nunique()
  - index
  - columns
  - values
- Pandasì˜ DataFrameê³¼ Seriesì˜ ì´í•´
  - Series : 1ì°¨ì› ë²¡í„°êµ¬ì¡°
  - DataFrame : 2ì°¨ì› í–‰ë ¬êµ¬ì¡°
- ìƒ‰ì¸í•˜ê¸°
  - [ì»¬ëŸ¼]
  - .loc[í–‰]
  - .loc[í–‰, ì—´]
  - .loc[ì¡°ê±´ì‹, ì—´]
- DataFrameì˜ ë°ì´í„° íƒ€ì… ì´í•´í•˜ê¸°
  - ë‚ ì§œ ë°ì´í„°ì˜ ë³€í™˜
  - DataFrame ë‹¤ë£¨ê¸°
  - ì—´(column) ì¸ë±ì‹±
  - í–‰(index) ì¸ë±ì‹±
  - í–‰, ì—´ ì¸ë±ì‹±
  - ì •ë ¬í•˜ê¸° : sort_values ì‚¬ìš©í•˜ê¸°
  - ì¡°ê±´ì‹ ì‚¬ìš©í•˜ê¸°
- ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°
  - í•œ ê°œì˜ ë³€ìˆ˜ : series.value_counts()
  - ë‘ ê°œì˜ ë³€ìˆ˜ : pd.crosstab()
- groupby ì™€ pivot_table
  - ë‹¤ì–‘í•œ ì—°ì‚°ì‹ì˜ ì‚¬ìš©

- âœ… Pandasë¥¼ í†µí•œ íŒŒì¼ ì €ì¥ê³¼ ë¶ˆëŸ¬ì˜¤ê¸°

In [64]:
result.to_csv('./data/Q2.csv', index=False)

In [67]:
result2 = pd.read_csv('./data/Q2.csv')
result2

   Canada  Germany  France  Great Britain  Japan   USA
0    81.4     80.5    82.3           81.0   82.7  78.7
1    81.6     80.6    82.1           81.0   83.2  78.8
2    81.7     80.6    82.3           81.1   83.4  78.8
3    81.8     81.2    82.8           81.4   83.7  78.9
4    81.9     80.7    82.4           81.0   83.9  78.7
5    82.0     81.0    82.7           81.2   84.1  78.7
6    81.9     81.1    82.7           81.3   84.2  78.6
7    82.0     81.0    82.8           81.3   84.3  78.7
8    82.2     81.3    82.9           81.4   84.4  78.8
9    81.7     81.1    82.3           80.4   84.7  77.0

In [69]:
result2.shape

(10, 6)

In [70]:
result2.tail(5)

   Canada  Germany  France  Great Britain  Japan   USA
5    82.0     81.0    82.7           81.2   84.1  78.7
6    81.9     81.1    82.7           81.3   84.2  78.6
7    82.0     81.0    82.8           81.3   84.3  78.7
8    82.2     81.3    82.9           81.4   84.4  78.8
9    81.7     81.1    82.3           80.4   84.7  77.0

In [71]:
result2.head(3)

   Canada  Germany  France  Great Britain  Japan   USA
0    81.4     80.5    82.3           81.0   82.7  78.7
1    81.6     80.6    82.1           81.0   83.2  78.8
2    81.7     80.6    82.3           81.1   83.4  78.8

- âœ… DataFrameì˜ info(), describe() ë“±ì„ í†µí•œ ìš”ì•½ê³¼ ê¸°ìˆ í†µê³„ ê°’ êµ¬í•˜ê¸°

In [72]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Canada         10 non-null     float64
 1   Germany        10 non-null     float64
 2   France         10 non-null     float64
 3   Great Britain  10 non-null     float64
 4   Japan          10 non-null     float64
 5   USA            10 non-null     float64
dtypes: float64(6)
memory usage: 608.0 bytes

In [73]:
result2.describe()

          Canada    Germany     France  Great Britain      Japan        USA
count  10.000000  10.000000  10.000000      10.000000  10.000000  10.000000
mean   81.820000  80.910000  82.530000      81.110000  83.860000  78.570000
std     0.229976   0.284605   0.279086       0.296086   0.613188   0.557873
min    81.400000  80.500000  82.100000      80.400000  82.700000  77.000000
25%    81.700000  80.625000  82.300000      81.000000  83.475000  78.700000
50%    81.850000  81.000000  82.550000      81.150000  84.000000  78.700000
75%    81.975000  81.100000  82.775000      81.300000  84.275000  78.800000
max    82.200000  81.300000  82.900000      81.400000  84.700000  78.900000

In [74]:
result2.nunique()

Canada            7
Germany           7
France            6
Great Britain     6
Japan            10
USA               5
dtype: int64

In [78]:
print(result2.index)

RangeIndex(start=0, stop=10, step=1)

In [79]:
print(result2.columns)

Index(['Canada', 'Germany', 'France', 'Great Britain', 'Japan', 'USA'], dtype='object')

In [80]:
print(result2.values)

[[81.4 80.5 82.3 81.  82.7 78.7]
 [81.6 80.6 82.1 81.  83.2 78.8]
 [81.7 80.6 82.3 81.1 83.4 78.8]
 [81.8 81.2 82.8 81.4 83.7 78.9]
 [81.9 80.7 82.4 81.  83.9 78.7]
 [82.  81.  82.7 81.2 84.1 78.7]
 [81.9 81.1 82.7 81.3 84.2 78.6]
 [82.  81.  82.8 81.3 84.3 78.7]
 [82.2 81.3 82.9 81.4 84.4 78.8]
 [81.7 81.1 82.3 80.4 84.7 77. ]]

- âœ… Pandasì˜ DataFrameê³¼ Seriesì˜ ì´í•´

In [81]:
result2['Canada']

0    81.4
1    81.6
2    81.7
3    81.8
4    81.9
5    82.0
6    81.9
7    82.0
8    82.2
9    81.7
Name: Canada, dtype: float64

In [82]:
result2[['Canada']]

   Canada
0    81.4
1    81.6
2    81.7
3    81.8
4    81.9
5    82.0
6    81.9
7    82.0
8    82.2
9    81.7

- âœ… ìƒ‰ì¸í•˜ê¸°

In [83]:
result2[['France']]

   France
0    82.3
1    82.1
2    82.3
3    82.8
4    82.4
5    82.7
6    82.7
7    82.8
8    82.9
9    82.3

In [84]:
result2.loc[3]

Canada           81.8
Germany          81.2
France           82.8
Great Britain    81.4
Japan            83.7
USA              78.9
Name: 3, dtype: float64

In [89]:
result2.loc[3,'USA']

78.9

- âœ… ë¹ˆë„ìˆ˜ êµ¬í•˜ê¸°

In [90]:
result2['Canada'].value_counts()

81.7    2
81.9    2
82.0    2
81.4    1
81.6    1
81.8    1
82.2    1
Name: Canada, dtype: int64

#### Q4. ì•ìœ¼ë¡œ ìš°ë¦¬ëŠ” ê³µê³µë°ì´í„°í¬í„¸ì—ì„œ ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ê³¼ì •ì„ ì§„í–‰í•  ì˜ˆì •ì…ë‹ˆë‹¤. ë³¸ê²©ì ì¸ í•™ìŠµ ì´ì „ì—! ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë°©ë²•ì´ ìµìˆ™í•´ì§€ë„ë¡ í•œë²ˆ ë” ì—°ìŠµí•´ë³´ê³ , ì–´ë–¤ ë¬¸ì œë¥¼ í’€ ìˆ˜ ìˆì„ì§€ë„ í•¨ê»˜ ê³ ë¯¼í•´ë³´ì•„ìš”!
- ê³µê³µë°ì´í„°í¬í„¸ì—ì„œ ì›í•˜ëŠ” ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ê²½ë¡œë¥¼ ì„¤ì •í•˜ê³ , ì£¼í”¼í„° ë…¸íŠ¸ë¶ê³¼ íŒë‹¤ìŠ¤ë¥¼ í†µí•´ ë¶ˆëŸ¬ì™€ ë³´ì„¸ìš”!
- ì–´ë–¤ ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ì•¼í• ì§€ ê³ ë¯¼ëœë‹¤ë©´ ë‹¤ìŒ ë§í¬ì˜ ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ë„ ì¢‹ìŠµë‹ˆë‹¤.
- [ì°¸ê³  ì˜ˆì‹œ] ê³µê³µë°ì´í„°í¬í„¸ - ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬_ìƒí™œíê¸°ë¬¼ë°°ì¶œëŸ‰

- ì´ ë•Œ, ì¸ì½”ë”© ì˜¤ë¥˜ê°€ ë°œìƒí•œë‹¤ë©´ encoding="cp949" ì˜µì…˜ì„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”!
- cp949ëŠ” í•œê¸€ ìœˆë„ìš°ì—ì„œ ì‚¬ìš©í•˜ëŠ” ì¸ì½”ë”© ë°©ì‹ì´ëë‹ˆë‹¤. ì¸ì½”ë”©ê³¼ ê´€ë ¨ëœ ìì„¸í•œ ë‚´ìš©ì€ ë‹¤ìŒì„ ì°¸ê³ í•´ ì£¼ì„¸ìš”.
- ë¬¸ì ì¸ì½”ë”© - ìœ„í‚¤ë°±ê³¼, ìš°ë¦¬ ëª¨ë‘ì˜ ë°±ê³¼ì‚¬ì „
- íŒŒì¼ì„ ì—´ê±°ë‚˜ ì €ì¥í•  ë•Œ í…ìŠ¤íŠ¸ ì¸ì½”ë”© ì„ íƒ

In [92]:
df = pd.read_csv('./data/á„‰á…¥á„‹á…®á†¯á„á…³á†¨á„‡á…§á†¯á„‰á…µ á„€á…¡á†¼á„‚á…¡á†·á„€á…®_á„‰á…¢á†¼á„’á…ªá†¯á„‘á…¨á„€á…µá„†á…®á†¯á„‡á…¢á„á…®á†¯á„…á…£á†¼_20221019.csv', encoding='cp949')
df

    ê°•ë‚¨êµ¬  2019ë…„(ìƒí™œíê¸°ë¬¼)-í†¤  2020ë…„(ìƒí™œíê¸°ë¬¼)-í†¤
0   01ì›”            7550            7350
1   02ì›”            6387            6688
2   03ì›”            7198            6973
3   04ì›”            6820            6448
4   05ì›”            7767            6470
5   06ì›”            7275            7923
6   07ì›”            8164            8015
7   08ì›”            7807            7859
8   09ì›”            6811            7452
9   10ì›”            7222            6875
10  11ì›”            7592            7337
11  12ì›”            7298            6911